In [ ]:
# Write your MySQL query statement below
SELECT
    id,
    MAX(IF(month = 'Jan', revenue, null)) AS Jan_Revenue,
    MAX(IF(month = 'Feb', revenue, null)) AS Feb_Revenue,
    MAX(IF(month = 'Mar', revenue, null)) AS Mar_Revenue,
    MAX(IF(month = 'Apr', revenue, null)) AS Apr_Revenue,
    MAX(IF(month = 'May', revenue, null)) AS May_Revenue,
    MAX(IF(month = 'Jun', revenue, null)) AS Jun_Revenue,
    MAX(IF(month = 'Jul', revenue, null)) AS Jul_Revenue,
    MAX(IF(month = 'Aug', revenue, null)) AS Aug_Revenue,
    MAX(IF(month = 'Sep', revenue, null)) AS Sep_Revenue,
    MAX(IF(month = 'Oct', revenue, null)) AS Oct_Revenue,
    MAX(IF(month = 'Nov', revenue, null)) AS Nov_Revenue,
    MAX(IF(month = 'Dec', revenue, null)) AS Dec_Revenue
FROM Department
GROUP BY id

In [ ]:
Select name,population, area
from World
where population > 25000000 
or area > 2000000

In [ ]:
update salary
set sex =
case sex 
when 'm' then 'f' 
else "m" 
end

In [ ]:
select * 
FROM cinema
where id%2 =1
and description <> "boring"
order by rating desc

In [ ]:
select Email 
from Person
group by Email
where count(*) >1

In [ ]:
select p.FirstName, p.LastName, a.City, a.State
from Person as p
left join Address as a
on p.PersonId = a.PersonId

In [ ]:
select e1.Name as Employee
from Employee e1
join employee e2
where
e1.ManagerId  = e2.Id 
and e1.Salary > e2.Salary

In [ ]:
select Name as Customers
from Customers
where Id not in (select CustomerId  from Orders)

In [ ]:
select name as Customers
from Customers
left join Orders
on Orders.CustomerId =Customers.Id 
where Orders.CustomerId is null

In [ ]:
#delete email
delete p1
from Person p1,
Person p2
where 
p1.Id > p2.Id
and p1.Email= p2.Email

In [ ]:
#class with more than 5 student
select class 
from Courses
group by class
having count(distinct student) > 5

In [ ]:
#diff in weather - one day
select w1.Id as Id
from Weather w1,
Weather w2
where w1.Temperature > w2.Temperature
and datediff(w1.RecordDate, w2.RecordDate)= 1

In [ ]:
#ConsecutiveNums numbers
select l1.num as ConsecutiveNums 
from Logs as l1,
Logs as l2,
Logs as l3
where 
l1.Id= l2.Id+1
and
l2.Id = l3.Id+1
and l1.Num = l2.Num
and l3.Num= l1.Num

In [ ]:
#Exchange Seats
select 
case
when id %2 = 1 and id != (select count(*) from seat) then id+1
when id %2 =0 then id-1
else id
end
as id,
student
from Seat
order by id

In [ ]:
#Department Top Three Salaries
SELECT dept.Name as 'Department', sub.name as 'Employee', sub.salary AS 'Salary'
FROM (SELECT name, salary, DepartmentId, dense_rank() over(PARTITION BY DepartmentId ORDER BY salary DESC) AS 'dense_rank' FROM employee)
AS sub JOIN Department dept ON sub.DepartmentId = dept.Id
WHERE sub.dense_rank<=3;

In [ ]:
#Department Top Three Salaries
SELECT dept.name AS 'Department', emp.name AS 'Employee', emp.salary as 'Salary'
FROM employee emp
JOIN Department dept
ON emp.DepartmentId = dept.id
WHERE 3 > (SELECT COUNT(DISTINCT salary) FROM Employee emp2 WHERE emp2.salary>emp.salary AND emp.DepartmentId = emp2.DepartmentId)

In [ ]:
select score,
dense_rank() over (order by score desc) as Rank
from Scores

In [ ]:
#Department Highest Salary
select d1.Name as Department, e1.Name AS Employee, e1.Salary 
from Employee e1
left join Department d1
on e1.DepartmentId  = d1.Id
WHERE  e1.Salary =(SELECT MAX( e1.Salary ) FROM Employee e1 WHERE e1.DepartmentId  = d1.Id)

In [ ]:
CREATE FUNCTION getNthHighestSalary(N INT) RETURNS INT
BEGIN
  set N = N-1;
  RETURN (
    select distinct Salary
    from Employee
    order by Salary Desc
    limit 1  offset N
      
      
  );
END
CREATE FUNCTION getNthHighestSalary(N INT) RETURNS INT
BEGIN
  DECLARE M INT;
  SET M = N - 1;
  RETURN (
    SELECT DISTINCT Salary FROM Employee
    ORDER BY Salary DESC
    LIMIT 1 OFFSET M
  );

In [ ]:
SELECT     Request_at AS Day,
           ROUND(SUM(Status != "completed") / COUNT(*), 2) AS 'Cancellation Rate'
FROM       Trips AS t
INNER JOIN Users AS c ON t.Client_Id = c.Users_Id AND c.Banned = 'No'
INNER JOIN Users AS d ON t.Driver_Id = d.Users_Id AND d.Banned = 'No'
WHERE      Request_at BETWEEN '2013-10-01' AND '2013-10-03'
GROUP BY   Request_at;

In [ ]:
select d.Name as Department, e.Name as Employee, e.Salary
from Employee as e
    join Department as d
    on e.DepartmentId = d.Id
    join (
        select max(Salary) as Salary, DepartmentId
        from Employee
        group by DepartmentId
    ) as mx
    on e.Salary = mx.Salary and e.DepartmentId = mx.DepartmentId